@charset "UTF-8";
/* Fonts */
/* ------------------------------------------------ */
/* ------------------- Reset CSS --------------- */
/* ------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Vendors*/
.jq-checkbox,
.jq-radio {
  position: relative;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.jq-checkbox input,
.jq-radio input {
  position: absolute;
  z-index: -1;
  margin: 0;
  padding: 0;
  opacity: 0; }

.jq-file {
  position: relative;
  display: inline-block;
  overflow: hidden; }

.jq-file input {
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  margin: 0;
  padding: 0;
  opacity: 0;
  font-size: 100px;
  line-height: 1em; }

.jq-file__name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.jq-selectbox,
.jq-select-multiple {
  position: relative;
  display: inline-block; }

.jq-selectbox select,
.jq-select-multiple select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0; }

.jq-selectbox li,
.jq-select-multiple li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap; }

.jq-selectbox {
  z-index: 10; }

.jq-selectbox__select {
  position: relative; }

.jq-selectbox__select-text {
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis; }

.jq-selectbox__dropdown {
  position: absolute; }

.jq-selectbox__search input {
  -webkit-appearance: textfield; }

.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
  -webkit-appearance: none; }

.jq-selectbox__dropdown ul {
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  list-style: none;
  -webkit-overflow-scrolling: touch; }

.jq-select-multiple ul {
  position: relative;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

.jq-number {
  display: inline-block; }

.jq-number__field input {
  -moz-appearance: textfield;
  text-align: left;
  /* для Opera Presto */ }

.jq-number__field input::-webkit-inner-spin-button,
.jq-number__field input::-webkit-outer-spin-button {
  margin: 0;
  /* в каких-то браузерах присутствует отступ */
  -webkit-appearance: none; }

.jq-checkbox,
.jq-radio {
  vertical-align: -4px;
  width: 16px;
  height: 16px;
  margin: 0 4px 0 0;
  border: 1px solid #C3C3C3;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E6E6E6));
  background: -webkit-linear-gradient(#FFF, #E6E6E6);
  background: linear-gradient(#FFF, #E6E6E6);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
  cursor: pointer; }

.jq-checkbox.focused,
.jq-radio.focused {
  border: 1px solid #08C; }

.jq-checkbox.disabled,
.jq-radio.disabled {
  opacity: .55; }

.jq-checkbox {
  -webkit-border-radius: 3px;
          border-radius: 3px; }

.jq-checkbox.checked .jq-checkbox__div {
  width: 8px;
  height: 4px;
  margin: 3px 0 0 3px;
  border-bottom: 2px solid #666;
  border-left: 2px solid #666;
  -webkit-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
      transform: rotate(-50deg); }

.jq-radio {
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.jq-radio.checked .jq-radio__div {
  width: 10px;
  height: 10px;
  margin: 3px 0 0 3px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #777;
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.7);
          box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.7); }

.jq-file {
  width: 270px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }

.jq-file input {
  cursor: pointer; }

.jq-file__name {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 34px;
  padding: 0 80px 0 10px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background: #FFF;
  -webkit-box-shadow: inset 1px 1px #F1F1F1;
          box-shadow: inset 1px 1px #F1F1F1;
  font: 14px/32px Arial, sans-serif;
  color: #333; }

.jq-file__browse {
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 0 10px;
  border-left: 1px solid #CCC;
  -webkit-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E6E6E6));
  background: -webkit-linear-gradient(#FFF, #E6E6E6);
  background: linear-gradient(#FFF, #E6E6E6);
  -webkit-box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px/32px Arial, sans-serif;
  color: #333;
  text-shadow: 1px 1px #FFF; }

.jq-file:hover .jq-file__browse {
  background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#E6E6E6));
  background: -webkit-linear-gradient(#F6F6F6, #E6E6E6);
  background: linear-gradient(#F6F6F6, #E6E6E6); }

.jq-file:active .jq-file__browse {
  background: #F5F5F5;
  -webkit-box-shadow: inset 1px 1px 3px #DDD;
          box-shadow: inset 1px 1px 3px #DDD; }

.jq-file.focused .jq-file__name {
  border: 1px solid #5794BF; }

.jq-file.disabled,
.jq-file.disabled .jq-file__name,
.jq-file.disabled .jq-file__browse {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #888; }

.jq-number {
  position: relative;
  vertical-align: middle;
  padding: 0 36px 0 0; }

.jq-number__field {
  width: 100px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1); }

.jq-number__field:hover {
  border-color: #B3B3B3; }

.jq-number__field input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 8px 9px;
  border: none;
  outline: none;
  background: none;
  font: 14px Arial, sans-serif;
  color: #333; }

.jq-number__spin {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 14px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E6E6E6));
  background: -webkit-linear-gradient(#FFF, #E6E6E6);
  background: linear-gradient(#FFF, #E6E6E6);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: 1px 1px #FFF;
  cursor: pointer; }

.jq-number__spin.minus {
  top: auto;
  bottom: 0; }

.jq-number__spin:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#E6E6E6));
  background: -webkit-linear-gradient(#F6F6F6, #E6E6E6);
  background: linear-gradient(#F6F6F6, #E6E6E6); }

.jq-number__spin:active {
  background: #F5F5F5;
  -webkit-box-shadow: inset 1px 1px 3px #DDD;
          box-shadow: inset 1px 1px 3px #DDD; }

.jq-number__spin:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 11px;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #999;
  border-left: 5px solid transparent; }

.jq-number__spin.minus:after {
  top: 5px;
  border-top: 5px solid #999;
  border-right: 5px solid transparent;
  border-bottom: none;
  border-left: 5px solid transparent; }

.jq-number__spin.minus:hover:after {
  border-top-color: #000; }

.jq-number__spin.plus:hover:after {
  border-bottom-color: #000; }

.jq-number.focused .jq-number__field {
  border: 1px solid #5794BF; }

.jq-number.disabled .jq-number__field,
.jq-number.disabled .jq-number__spin {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #888; }

.jq-number.disabled .jq-number__spin:after {
  border-bottom-color: #AAA; }

.jq-number.disabled .jq-number__spin.minus:after {
  border-top-color: #AAA; }

.jq-selectbox {
  vertical-align: middle;
  cursor: pointer; }

.jq-selectbox__select {
  height: 32px;
  padding: 0 45px 0 10px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E6E6E6));
  background: -webkit-linear-gradient(#FFF, #E6E6E6);
  background: linear-gradient(#FFF, #E6E6E6);
  -webkit-box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px/32px Arial, sans-serif;
  color: #333;
  text-shadow: 1px 1px #FFF; }

.jq-selectbox__select:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#E6E6E6));
  background: -webkit-linear-gradient(#F6F6F6, #E6E6E6);
  background: linear-gradient(#F6F6F6, #E6E6E6); }

.jq-selectbox__select:active {
  background: #F5F5F5;
  -webkit-box-shadow: inset 1px 1px 3px #DDD;
          box-shadow: inset 1px 1px 3px #DDD; }

.jq-selectbox.focused .jq-selectbox__select {
  border: 1px solid #5794BF; }

.jq-selectbox.disabled .jq-selectbox__select {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #888; }

.jq-selectbox__select-text {
  display: block;
  width: 100%; }

.jq-selectbox .placeholder {
  color: #888; }

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
  border-left: 1px solid #CCC; }

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 14px;
  right: 12px;
  width: 0;
  height: 0;
  border-top: 5px solid #999;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent; }

.jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #000; }

.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
  border-top-color: #AAA; }

.jq-selectbox__dropdown {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 2px 0 0;
  padding: 0;
  border: 1px solid #CCC;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background: #FFF;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font: 14px/18px Arial, sans-serif; }

.jq-selectbox__search {
  margin: 5px; }

.jq-selectbox__search input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px 27px 6px 8px;
  border: 1px solid #CCC;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  outline: none;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==") no-repeat 100% 50%;
  -webkit-box-shadow: inset 1px 1px #F1F1F1;
          box-shadow: inset 1px 1px #F1F1F1;
  color: #333; }

.jq-selectbox__not-found {
  margin: 5px;
  padding: 5px 8px 6px;
  background: #F0F0F0;
  font-size: 13px; }

.jq-selectbox ul {
  margin: 0;
  padding: 0; }

.jq-selectbox li {
  min-height: 18px;
  padding: 5px 10px 6px;
  color: #231F20; }

.jq-selectbox li.selected {
  background-color: #A3ABB1;
  color: #FFF; }

.jq-selectbox li:hover {
  background-color: #08C;
  color: #FFF; }

.jq-selectbox li.disabled {
  color: #AAA; }

.jq-selectbox li.disabled:hover {
  background: none; }

.jq-selectbox li.optgroup {
  font-weight: bold; }

.jq-selectbox li.optgroup:hover {
  background: none;
  color: #231F20;
  cursor: default; }

.jq-selectbox li.option {
  padding-left: 25px; }

.jq-select-multiple {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background: #FFF;
  -webkit-box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px/18px Arial, sans-serif;
  color: #333;
  cursor: default; }

.jq-select-multiple.focused {
  border: 1px solid #5794BF; }

.jq-select-multiple.disabled {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #888; }

.jq-select-multiple ul {
  margin: 0;
  padding: 0; }

.jq-select-multiple li {
  padding: 3px 9px 4px;
  list-style: none; }

.jq-select-multiple li:first-child {
  -webkit-border-radius: 3px 3px 0 0;
          border-radius: 3px 3px 0 0; }

.jq-select-multiple li:last-child {
  -webkit-border-radius: 0 0 3px 3px;
          border-radius: 0 0 3px 3px; }

.jq-select-multiple li.selected {
  background: #08C;
  color: #FFF; }

.jq-select-multiple li.disabled {
  color: #AAA; }

.jq-select-multiple li.optgroup {
  font-weight: bold; }

.jq-select-multiple li.option {
  padding-left: 25px; }

.jq-select-multiple.disabled li.selected,
.jq-select-multiple li.selected.disabled {
  background: #CCC;
  color: #FFF; }

input[type='email'].styler,
input[type='password'].styler,
input[type='search'].styler,
input[type='tel'].styler,
input[type='text'].styler,
input[type='url'].styler,
textarea.styler {
  padding: 8px 9px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px Arial, sans-serif;
  color: #333; }

input[type='search'].styler {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea.styler {
  overflow: auto; }

input[type='email'].styler:hover,
input[type='password'].styler:hover,
input[type='search'].styler:hover,
input[type='tel'].styler:hover,
input[type='text'].styler:hover,
input[type='url'].styler:hover,
textarea.styler:hover {
  border-color: #B3B3B3; }

input[type='email'].styler:hover:focus,
input[type='password'].styler:hover:focus,
input[type='search'].styler:hover:focus,
input[type='tel'].styler:hover:focus,
input[type='text'].styler:hover:focus,
input[type='url'].styler:hover:focus,
textarea.styler:hover:focus {
  border-color: #CCC;
  border-top-color: #B3B3B3;
  outline: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }

button.styler,
input[type='button'].styler,
input[type='submit'].styler,
input[type='reset'].styler {
  overflow: visible;
  padding: 8px 11px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  outline: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E6E6E6));
  background: -webkit-linear-gradient(#FFF, #E6E6E6);
  background: linear-gradient(#FFF, #E6E6E6);
  -webkit-box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px Arial, sans-serif;
  color: #333;
  text-shadow: 1px 1px #FFF;
  cursor: pointer; }

button.styler.styler::-moz-focus-inner,
input[type='button'].styler.styler::-moz-focus-inner,
input[type='submit'].styler.styler::-moz-focus-inner,
input[type='reset'].styler.styler::-moz-focus-inner {
  padding: 0;
  border: 0; }

button.styler:not([disabled]):hover,
input[type='button'].styler:not([disabled]):hover,
input[type='submit'].styler:not([disabled]):hover,
input[type='reset'].styler:not([disabled]):hover,
input[type='reset'].styler:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#E6E6E6));
  background: -webkit-linear-gradient(#F6F6F6, #E6E6E6);
  background: linear-gradient(#F6F6F6, #E6E6E6); }

button.styler:active,
input[type='button'].styler:active,
input[type='submit'].styler:active,
input[type='reset'].styler:active {
  background: #F5F5F5;
  -webkit-box-shadow: inset 1px 1px 3px #DDD;
          box-shadow: inset 1px 1px 3px #DDD; }

button.styler[disabled],
input[type='button'].styler[disabled],
input[type='submit'].styler[disabled] {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #888; }

/* Including Partials */
body {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 14px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h2 {
  font-size: 18px; }

/*-- Additional classes --*/
.tt-uppercase {
  text-transform: uppercase; }

.clr-green {
  color: #74B943 !important; }

.btn {
  display: inline-block;
  padding: 0 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-decoration: none; }

.btn-green {
  background: #74B943;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  -webkit-border-radius: 4px;
          border-radius: 4px; }

.btn-green:hover {
  opacity: .9; }

.btn_icon {
  display: inline-block;
  margin-right: 15px;
  padding: 15px 20px 15px 0px;
  border-right: 1px solid rgba(255, 255, 255, 0.4); }

.btn_title {
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  padding: 0 10px; }

button.btn {
  border: none; }

button.btn-saveuser {
  -webkit-border-radius: 0 !important;
          border-radius: 0 !important;
  margin-top: 10px; }

button.btn-saveuser .btn_icon {
  border-right: none;
  padding-right: 0;
  margin-right: 0; }

.btn-delete {
  color: #ffffff;
  background: #000A12;
  -webkit-border-radius: 0 !important;
          border-radius: 0 !important;
  margin-top: 10px;
  text-decoration: none;
  margin-top: -10px; }

.btn-delete .btn_icon {
  border-right: none;
  padding-right: 0;
  margin-right: 0;
  padding-top: 10px;
  padding-bottom: 10px; }

.btn-delete:hover {
  background: #E45050; }

.header-black {
  background: #000A12;
  text-align: center; }

.header-top {
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  left: 0;
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.sidebar {
  min-width: 290px;
  min-height: 100vh;
  background: #1F2427;
  position: relative;
  display: block; }

.sidebar-footer {
  position: absolute;
  bottom: 0;
  padding: 30px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #1F2427; }

.sidebar-logo {
  background: #000A12;
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }

.sidebar-nav {
  padding: 40px 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.sidebar-nav-section h3 {
  margin-bottom: 20px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.75); }

.sidebar-nav-section ul li {
  padding: 5px 0 5px;
  display: block; }

.sidebar-nav-section ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  padding: 10px 30px;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.sidebar-nav-section ul li a:hover {
  color: #74B943; }

.sidebar-nav-section ul li.active a {
  background: #74B943;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  color: #fff !important; }

.sidebar-footer-user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }

.sidebar-footer-user a {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.sidebar-footer-user a:hover {
  color: #74B943; }

.sidebar-footer-user .user-avatar {
  -webkit-border-radius: 100%;
          border-radius: 100%;
  overflow: hidden;
  width: 20px;
  height: 20px; }

.sidebar-footer-user .user-avatar img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover; }

.sidebar-footer-user .user-name {
  line-height: 20px;
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  margin-left: 20px;
  margin-right: 10px; }

.sidebar-footer-user .user-name a {
  display: block;
  font-size: 15px; }

.sidebar-footer-user .user-exit {
  line-height: 20px; }

.switcher {
  width: 40px;
  height: 15px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  position: relative;
  cursor: pointer;
  background: #E45050;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.switcher .switcher_toggle {
  left: 27px; }

.switcher.active {
  background: #74B943; }

.switcher.active .switcher_toggle {
  left: 2px; }

.switcher_toggle {
  width: 11px;
  height: 11px;
  background: #ffffff;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  position: absolute;
  top: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.main {
  background: #F1F1F1;
  min-height: 100vh;
  width: 100%;
  padding-top: 80px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.main-wrap {
  padding: 0 35px;
  height: 100%; }

.main-tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }

.tabs-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px; }

.tabs-links-item {
  background: #ffffff;
  margin-right: 10px;
  padding: 20px 30px;
  min-width: 280px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
  z-index: 10;
  -webkit-box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); }

.tabs-links-item:after {
  content: '';
  height: 4px;
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  background: #ffffff; }

.tabs-links-item > a,
.tabs-links-item > div {
  opacity: .4;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.tabs-links-item.current > a,
.tabs-links-item.current > div {
  opacity: 1; }

.tabs-links-item:hover > a,
.tabs-links-item:hover > div {
  opacity: 1; }

.tabs-links-item a {
  color: #3D687E;
  text-decoration: none;
  font-size: 14px; }

.tabs-links-item .sublink {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  margin: 10px 0 0; }

.tabs-links-item .sublink.active {
  color: #74B943; }

.tabs-links-item .sublink .title {
  font-size: 18px;
  text-transform: uppercase;
  display: block;
  font-weight: bold; }

.tabs-links-item .sublink .count {
  margin-left: 10px; }

.tabs-sublinks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.tabs-sublinks a {
  width: 50%; }

.tabs-sublinks .sublink {
  border-right: 1px solid #E8ECEF;
  padding: 10px 15px; }

.tabs-sublinks .sublink:last-of-type {
  border-right: none; }

.tabs-sublinks .sublink:first-of-type {
  padding-left: 0; }

.tabs-content {
  background: #ffffff;
  height: 100%;
  width: 100%; }

.tabs-content-wrap {
  padding-top: 30px; }

.manage-users {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  color: #3D687E; }

.manage-users-sidebar {
  min-width: 190px; }

.manage-users-list {
  width: 100%;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.manage-users-sidebar h3 {
  text-transform: uppercase;
  font-size: 13px;
  margin-bottom: 15px;
  margin-top: 30px;
  display: block; }

.search-box h3 {
  margin-top: 0; }

.search-box .search-inp {
  position: relative;
  margin-bottom: 10px; }

.search-box .search-inp input {
  -webkit-border-radius: 100px;
          border-radius: 100px;
  border: 1px solid #EDEFF0;
  background: #F3F5F6;
  width: 100%;
  padding: 5px 10px 5px 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  color: #3D687E;
  font-size: 14px; }

.search-box .search-inp .btn-search {
  border: none;
  background: none;
  position: absolute;
  top: 50%;
  margin-top: -9px;
  left: 5px; }

.search-box .search-inp .btn-search i {
  color: #3D687E;
  font-size: 10px; }

.users-table {
  width: 100%;
  margin-top: 50px; }

.users-table a {
  color: #3D687E;
  text-decoration: none; }

.users-table tr {
  border-bottom: 1px solid #EDEFF0; }

.users-table tr td {
  padding: 15px 10px;
  vertical-align: middle; }

.users-table tr td:nth-child(1) {
  width: 20px;
  padding-right: 10px; }

.users-table tr td:last-child {
  width: 10px; }

.btn-sort {
  display: inline-block;
  position: relative; }

.btn-sort.selected:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 6px solid #3D687E;
  border-top: 0; }

.btn-sort:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #3D687E;
  position: absolute;
  top: 5px;
  right: -15px; }

.btn-del i {
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.btn-del:hover i {
  color: #E45050; }

.users-count {
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 30px; }

.clear-filters {
  color: #3D687E;
  font-size: 12px;
  text-transform: lowercase;
  margin-bottom: 20px;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.clear-filters:hover {
  text-decoration: none; }

.clear-filters i {
  margin-right: 5px; }

.filter-select {
  margin-bottom: 20px; }

.btn-edit {
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.btn-edit:hover {
  color: #74B943; }

.btn-back {
  color: #3D687E;
  text-decoration: none;
  text-transform: uppercase; }

.btn-back:before {
  font-family: 'FontAwesome';
  content: "\f053";
  color: #74B943;
  margin-right: 10px;
  font-size: 10px;
  line-height: 12px;
  position: relative;
  top: -1px; }

.flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.row-2-cols .col {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.row-2-cols .col:nth-of-type(1) {
  padding-right: 30px; }

.row-2-cols .col:nth-of-type(2) {
  padding-left: 30px; }

.edit-user_title h2 {
  font-weight: bold; }

.edit-user-form .row-2-cols {
  width: 80%; }

.form-group {
  margin-bottom: 20px; }

.form-group span {
  display: block;
  text-transform: uppercase;
  margin-bottom: 10px; }

.form-group input {
  background: #F1F1F1;
  border: 1px solid #EDEFF0;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  width: 100%;
  padding: 10px 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #3D687E !important;
  font-family: "Merriweather Sans", sans-serif;
  outline: none;
  font-size: 12px; }

.login-section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.login-section_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1; }

.login-section_bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block; }

.login-box {
  background: rgba(255, 255, 255, 0.3);
  color: #ffffff;
  width: 320px;
  text-align: center;
  padding: 35px 0; }

.login-box .btn {
  margin-top: 40px; }

.dashboard {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

/* Additional styles */
.checkbox-group {
  margin-bottom: 10px; }

.checkbox-group label {
  cursor: pointer; }

.styled-chk.jq-checkbox {
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 0px;
          border-radius: 0px;
  border: 1px solid #EDEFF0 !important;
  background: #F3F5F6 !important; }

.styled-chk.jq-checkbox.checked {
  background: #74B943 !important;
  border-color: #74B943 !important; }

.styled-chk .jq-checkbox__div {
  border-color: #ffffff !important; }

.styled-select {
  width: 100%; }

.styled-select .jq-selectbox__select {
  border: 1px solid #EDEFF0 !important;
  background: #F3F5F6 !important;
  -webkit-box-shadow: none;
          box-shadow: none; }

.styled-select .jq-selectbox__select:hover .jq-selectbox__trigger-arrow {
  border-top-color: #74B943; }

.styled-select .jq-selectbox__trigger {
  border: none; }

.styled-select .jq-selectbox__trigger-arrow {
  border-top-color: #74B943; }

.styled-select .jq-selectbox__select-text {
  font-size: 14px;
  font-family: "Merriweather Sans", sans-serif;
  color: #3D687E;
  opacity: .7; }

.styled-select .jq-selectbox__select-text {
  width: 100% !important;
  text-shadow: none !important; }

.styled-select .jq-selectbox__dropdown li {
  font-size: 14px;
  font-family: "Merriweather Sans", sans-serif;
  color: #3D687E; }

.styled-select .jq-selectbox__dropdown li:hover {
  color: #ffffff !important; }

.form-select {
  width: 100%; }

.form-select .jq-selectbox__select {
  background: #F1F1F1 !important;
  border: 1px solid #EDEFF0 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 35px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.form-select .jq-selectbox__select:hover .jq-selectbox__trigger-arrow {
  border-top-color: #74B943; }

.form-select .jq-selectbox__trigger {
  border: none; }

.form-select .jq-selectbox__trigger-arrow {
  border-top-color: #74B943; }

.form-select .jq-selectbox__select-text {
  font-size: 12px;
  line-height: 35px;
  font-family: "Merriweather Sans", sans-serif !important;
  color: #3D687E !important;
  text-shadow: none !important; }

.form-select .jq-selectbox__select-text {
  width: 100% !important; }

.form-select .jq-selectbox__dropdown li {
  font-size: 14px;
  font-family: "Merriweather Sans", sans-serif !important;
  color: #3D687E; }

.form-select .jq-selectbox__dropdown li:hover {
  color: #ffffff !important; }

.file-styled {
  width: 100%;
  position: relative;
  background: #F1F1F1 !important;
  border: 1px solid #EDEFF0 !important;
  -webkit-box-shadow: none;
          box-shadow: none; }

.file-styled.focused {
  border-color: #EDEFF0 !important; }

.file-styled.focused .jq-file__name {
  border-color: #EDEFF0 !important; }

.file-styled .jq-file__name {
  padding: 0 10px 0 100px;
  font-family: "Merriweather Sans", sans-serif !important;
  color: #3D687E;
  background: transparent;
  border: none; }

.file-styled .jq-file__browse {
  left: 8px;
  top: 5px;
  width: 50px;
  font-family: "Merriweather Sans", sans-serif !important;
  color: #3D687E;
  font-weight: 200;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  border: none;
  background: #ffffff;
  text-transform: uppercase;
  -webkit-box-shadow: none;
          box-shadow: none; }

.flex-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-grow-1 {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2; }

.row-2-cols {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.edit-user_title {
  margin-bottom: 30px; }

.photogallery-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.photo-item {
  position: relative;
  width: 20%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px; }

.photo-item img {
  width: 100%; }

.photo-item:hover .photo-item-controlls {
  visibility: visible;
  opacity: 1; }

.photo-item .photo-item-controlls {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  margin-left: 10px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.photo-item .photo-item-controlls a {
  display: inline-block;
  color: #778F9B;
  text-decoration: none;
  background: #ffffff;
  width: 25px;
  height: 25px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  text-align: center;
  line-height: 25px; }

.photo-item .photo-item-controlls a i {
  font-size: 12px;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.photo-item .photo-item-controlls a:hover i {
  color: #74B943; }

.image-preview {
  margin-bottom: 20px;
  width: 160px;
  position: relative; }

.image-preview img {
  width: 100%; }

.image-preview:hover .image-preview-controls {
  visibility: visible;
  opacity: 1; }

.image-preview .image-preview-controls {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-align: center;
  width: 100%; }

.image-preview .image-preview-controls a {
  display: inline-block;
  color: #778F9B;
  text-decoration: none;
  background: #ffffff;
  width: 25px;
  height: 25px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  text-align: center;
  line-height: 25px; }

.image-preview .image-preview-controls a i {
  font-size: 12px;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.image-preview .image-preview-controls a:hover i {
  color: #74B943; }

.border-bottom {
  border-bottom: 2px solid #F6F7F8;
  margin-bottom: 30px; }

.margin-top-20 {
  margin-top: 20px; }

.exit-icon {
  background: url("../img/svg/icon-logout.svg") no-repeat center/contain;
  width: 20px;
  display: block;
  height: 20px; }

.clear-icon {
  background: url("../img/svg/clear.svg") no-repeat center/cover;
  width: 30px;
  display: inline-block;
  height: 30px;
  vertical-align: middle;
  margin-right: 0 !important;
  margin-top: 5px; }

.stores-table {
  width: 100%;
  margin-top: 50px; }

.stores-table a {
  color: #3D687E;
  text-decoration: none; }

.stores-table tr {
  border-bottom: 1px solid #EDEFF0; }

.stores-table tr td {
  padding: 15px 10px;
  vertical-align: middle; }

.stores-table tr td:nth-child(1) {
  width: 20px;
  padding-right: 10px; }

.stores-table tr td:nth-child(3) {
  width: 200px;
  padding-right: 10px; }

.stores-table tr td:last-child {
  width: 50px; }

.stores-table tr td:last-child a {
  padding: 5px; }

.stores-table tr.stores-table-item td:nth-child(2) a {
  font-weight: bold; }

.stores-table tr.stores-table-item.selected {
  border: 1px solid #E45050 !important;
  -webkit-box-shadow: 0 0 5px #f8d5d5;
          box-shadow: 0 0 5px #f8d5d5; }

.stores-table tr.stores-table-item.selected td {
  border-top: 1px solid #E45050 !important; }

.stores-table tr.stores-table-item.selected .btn-del i {
  color: #E45050; }

.stores-table .styled-select .jq-selectbox__trigger-arrow {
  border-top-color: #E45050 !important; }

/*Including @MEDIA styles*/
/* ------------------------------------------------------------ */
/* ---------------- Styles for max-width desktops  --------------- */
/* ------------------------------------------------------------ */
/* ---------------------------------------------------------- */
/* ---------------- Styles for 992px tablets  --------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ---------------- Styles for 768px tablets  --------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ------------------ Styles for 480 mobile devices --------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------- Styles for 320px mobile devices --------------- */
/* ---------------------------------------------------------------- */
