body{
  font-family: $primarilyFontFamily;
  font-size: $primarilyFontSize;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2{
  font-size: 18px;
}


/*-- Additional classes --*/
.tt-uppercase{
  text-transform: uppercase;
}
.clr-green{
  color: $green !important;
}